services:
  app:
    build: .
    container_name: stock_app
    working_dir: /var/www
    volumes:
      - ./:/var/www
    depends_on:
      mysql:
        condition: service_healthy


  nginx:
    image: nginx:alpine
    container_name: stock_nginx
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  mysql:
    image: mysql:8.0
    container_name: stock_mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3310:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 10s


  queue:
    build: .
    container_name: stock_queue
    working_dir: /var/www
    volumes:
      - ./:/var/www
    depends_on:
      mysql:
        condition: service_healthy
    command: php artisan queue:work --tries=1 --timeout=0
    restart: unless-stopped


volumes:
  mysql_data:
